# API Gateway env
GATEWAY_PORT=8080
AUTH_SERVICE_URL=http://localhost:8081
OBJECT_API_URL=http://localhost:8082

# Shared JWT settings (must match auth-service values)
JWT_SECRET=VKBHhQ1vOriRYxyK3JyTA4KS995Yy6WKgp69z0O1MD2
JWT_ISSUER=cloudbin-auth
