# API Gateway env
GATEWAY_PORT=8080
AUTH_SERVICE_URL=http://auth-service:8081
OBJECT_API_URL=http://object-api:8082

# Shared JWT settings (must match auth-service values)
JWT_SECRET=eGYwVzceKpNBxX3syAamuY8h7akWw6cKlyg9IYHAsF8
JWT_ISSUER=cloudbin-auth
