# API Gateway env
GATEWAY_PORT=8080
AUTH_SERVICE_URL=http://localhost:8081
OBJECT_API_URL=http://localhost:8082

# Shared JWT settings (must match auth-service values)
JWT_SECRET=15cb099ecab8afc87b161b78a672d4b29eef51473c51345321636a4ef554f874
JWT_ISSUER=cloudbin-auth
