# Object API env
OBJECT_API_PORT=8082
OBJECT_DB_DSN=postgres://postgres:postgres@localhost:5432/object_db?sslmode=disable
STORAGE_NODES=http://localhost:8083,http://localhost:8084,http://localhost:8085
REPLICATION_FACTOR=2

# Shared JWT settings (must match api-gateway/auth-service)
JWT_SECRET=VKBHhQ1vOriRYxyK3JyTA4KS995Yy6WKgp69z0O1MD2
JWT_ISSUER=cloudbin-auth

